.paned {
    -fx-background-radius: 10px;
    -fx-background-color: #fff5b4;
}

.p {
    -fx-background-color: #ded0b8;
}

.inner-border {
    -fx-border-color: #5c3217;
    -fx-border-width: 3px;
    -fx-border-insets: 0px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.navbar {
    -fx-background-color: #170e00;
}

.navbar-btn {
    -fx-background-color: #170e00;
    -fx-text-fill: #ffcf81;
    -fx-background-radius: 0px;
}

.navbar-btn:hover {
    -fx-background-color: #5c3217;
    -fx-border-color: #c7b280;
    -fx-border-inset: 0px 0px 0px 0px;
    -fx-border-width: 0px 0px 3px 0px;
}

.navbar-btn:selected {
    -fx-background-color: #5c3217;
    -fx-border-color: #c7b280;
    -fx-border-inset: 5px 0px 0px 0px;
    -fx-border-width: 0px 0px 3px 0px;
}

.navbar-icon {
    -fx-fill: #ffcf81;
}

.awesome-icons {
    -fx-fill: #c7b280;
}

.home-page-btn {
    -fx-text-fill: #c7b280;
    -fx-background-color: #170e00;
    -fx-background-radius: 40px;
    -fx-border-color: #c7b280;
    -fx-border-insets: 8px;
    -fx-border-radius: 35px;
}

.dashboard-font-color {
    -fx-text-fill: #c7b280;
    -fx-font-weight: bold;
    -fx-font-size: 18px
}

.home-btn {
    -fx-text-fill: #c7b280;
    -fx-background-color: #170e00;
    -fx-background-radius: 40px;
    -fx-border-color: #c7b280;
    -fx-border-insets: 8px;
    -fx-border-radius: 35px;
}

.home-btn:hover {
        -fx-cursor: HAND;
        -fx-background-color: #94591c;
        -fx-text-fill: #ffcf81;
        -fx-border-color: #ffcf81;
}

.stock-alert {
    -fx-text-fill: #c7b280;
    -fx-background-color: #170e00;
    -fx-background-radius: 20px;
    -fx-border-color: #ff0000;
    -fx-border-insets: 8px;
    -fx-border-radius: 15px;
}

.stock-alert:hover {
    -fx-cursor: HAND;
    -fx-background-color: #94591c;
    -fx-text-fill: #000000;
    -fx-border-width: 5px;
}

.toggle:hover {
    -fx-background-color: #56b0e4;
}